.md-typeset md-button {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    font-weight: 100;
    border: 0px solid white;
    border-radius: 0px;
    width = 10px
    }

test {
    display: inline-block;
    width: 40px;
    height: 48px;
    vertical-align: middle;
    border: 2px solid red;
}

span.b {
    display: inline-block;
    width: 1.6rem;
    padding: 0.1rem;
    vertical-align: middle;
    horizontal-align: middle;
    background-color: white;
    text-align: center;
    border-color: coral;
    border-radius: 5px;
    border: 0px solid white;
}


span.a {
    display: inline-block;
    width: 1.6rem;
    padding: 0.1rem;
    vertical-align: middle;
    horizontal-align: middle;
    background-color: white;
    text-align: center;
    border-color: coral;
    border-radius: 5px;
    border: 1px solid black;
}


/*
.md-typeset__table {
    border-collapse: collapse;
    background-color: white;
    border-top: 0px;
    max-width: 580px;
    min-width: 20px;
    width: 450px;
    table-layout: auto;
}
.foo table {
    display: inline
    border-collapse: collapse;
    background-color: red;
}
.foo td {
    display: td
    background-color: red;
}
.foo th {
    display: th
    background-color: red;
}
.foo tr {
    display: inline
    background-color: red;
}
.md-typeset td {
    background-color: white;
    border-top: 0px;
    border-bottom: 0;
    border-top: 0;
    border-top: 0;
    border-top: 0 solid white;;
    padding: 0px 0px 0px 0px;
    max-width: 10px;
    min-width: 20px;
    width: 10px;
    table-layout: fixed;
}
.md-typeset th {
    max-width: 10px;
    min-width: 9px;
    padding: 0px 0px 0px 0px;
    color: white;
    vertical-align: top;
    background-color: white;
    }
.md-typeset tr {
    background-color: red;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 0 0 orange inset;
    max-width: 10px;
    min-width: 10px;
  }
.md-typeset table:not([class]) {
    display: table;
}
/*